.button {
    background-color: #FD501E;
    width: 100%;
    max-width: 200px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

.button:hover {
    background-color: hsl(13, 98%, 50%);
}

.button:active {
    background-color: hsl(13, 98%, 45%);
}