.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation__listItem {
    flex-basis: 150px;
}

.navigation__link {
    color: rgb(242, 68, 98);
}

.navigation__link:link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px 5px;
}

.navigation__link:hover {
    background-color: hsl(0, 0%, 18%);
    border-radius: 5px;
    box-shadow: 0 0 10px #FD501E;
}

.navigation__link:active {
    background-color: hsl(0, 0%, 15%);
    border-radius: 5px;
    box-shadow: 0 0 10px #FD501E;
}