html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-image: url("../image/zachodSlonca.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}